a{% extends 'crud/base.html' %}

{% comment %}  Title block started{% endcomment %}
{% block title %}Showdata{% endblock title %}

{% comment %} Contant block started{% endcomment %}
{% block contant %}
<br><br>
<div class='col-sm-6 alert-primary'>{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

<table class="table table-hover">
    <thead>
      <tr>
          
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name </th>
        <th scope="col">Age</th>
        <th scope="col">Sex</th>
        <th scope="col">Weight</th>
        <th scope="col">Hight</th>
        <th scope="col">Contact Number</th>
        <th scope="col">E-mail</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Marite Status</th>
        <th scope="col">Parents Name</th>
        <th scope="col">Relationship</th>
        
      </tr>
    </thead>
    <tbody>
        {% for data in data %}
      <tr>
        <th scope="row">{{data.id}}</th>
        <td>{{data.first_name}}</td>
        <td>{{data.last_name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.sex}}</td>
        <td>{{data.weight}}</td>
        <td>{{data.hight}}</td>
        <td>{{data.contactNumber}}</td>
        <td>{{data.email}}</td>
        <td>{{data.city}}</td>
        <td>{{data.state}}</td>
        <td>{{data.maritalStatus}}</td>
        <td>{{data.parentsName}}</td>
        <td>{{data.relationship}}</td>
        <td>
            <a href="{% url 'update' data.id %}" class='btn btn-warning btn-sm'>Edit</a>
            <form action ="{% url 'deletedata' data.id %}"
            method='post' class='d-inline'>{% csrf_token %}
            <input type="submit" class="btn btn-danger" value='Delete'
        </td>
        </tr>
     
     {% endfor %}
    </tbody>
  </table>

{% endblock contant %}
